@page "/"
@using CardGame.Pages

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>



<nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="minigame">
            <span class="oi oi-puzzle-piece"></span> Start game
        </NavLink>
    </div>
</nav>
