@page "/"
@using Domain
@using Repository
@using ServiceContracts
@using Services
@inject IServiceManager _services

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h2>@RandomCard.Suit @RandomCard.Number</h2>

Welcome to your new app.


@code{
    public Card RandomCard { get; set; } = new Card();

    protected override async Task OnInitializedAsync()
    {
        var cardStack = new CardStack(_services);
        cardStack.CreateNewStack();
        RandomCard = cardStack.Random();
    }
}