@page "/minigame"
@using CardGame.Data
@using ServiceContracts

@inject IServiceManager _services
<span>User</span>
<input type="text" @bind-value=PlayerName/>
<button @onclick="SetName">Login</button>

<div>@Table.PlayerName</div>

<h1 class="text-primary">Minigame</h1>
<h3 class="text-warning">Remaining cards: @Table.CardsCount</h3>
<h3 class="text-danger">Used cards: @Table.UsedCardsCount</h3>

<button class="btn btn-primary" @onclick="Table.ReplaceCards">Draw new cards</button>

@if (Table.Deck is not null)
{
    <Deck MinigameCards=@Table.Deck></Deck>
}

@code {

    public string PlayerName { get; set; } 

    public MinigameTable Table { get; set; }

    private readonly int _deckSize = 5;

    protected override async Task OnInitializedAsync()
    {
        Table = new MinigameTable(_services);
        Table.CreateCardStack();
        Table.ShuffleCardStack();
        Table.TakeCards(_deckSize);
        StateHasChanged();
    }
    private void SetName()
    {
        Table.SetPlayerName(PlayerName);
    }

}
