@page "/minigame"
@using CardGame.Data
@using Domain
@using ServiceContracts
@inject IServiceManager _services
<h1 class="text-primary">Minigame</h1>
<h3 class="text-warning">Remaining cards in stack: @CardStack.Cards.Count();</h3>


<button class="btn btn-primary" @onclick="ReplaceCheckedCards">Draw new cards</button>

@if (true)
{
    <Deck MinigameCards=@MyDeck></Deck>
}


@code {
    public List<MinigameCardHolder> MyDeck { get; set; } = new List<MinigameCardHolder>();

    public CardStack CardStack { get; set; }

    private readonly int _card_count = 5;

    protected override async Task OnInitializedAsync()
    {
        CardStack = new CardStack(_services);
        CardStack.GenerateStack();

        InsertCardsInDeck(CardStack.TakeRandom(_card_count));
        StateHasChanged();
    }

    private void ReplaceCheckedCards()
    {
        var cardsToReplace = new List<MinigameCardHolder>();
        foreach (var card in MyDeck)
        {
            if (card.Selected)
                cardsToReplace.Add(card);
        }
        foreach (var card in cardsToReplace)
        {
            ReplaceCard(card);
        }
    }

    private void ReplaceCard(MinigameCardHolder card)
    {
        if (card.Selected)
        {
            if (MyDeck.Remove(card))
                InsertCardsInDeck(CardStack.TakeRandom());
        }
    }

    private void InsertCardsInDeck(List<Card> cardsToTakeFrom)
    {
        foreach (var card in cardsToTakeFrom)
        {
            MyDeck.Add(new MinigameCardHolder(card));
        }
    }

}
