@using CardGame.Data
@using Domain


<div>
    <h4 class="text-dark">@MinigameCard.Card.Suit @MinigameCard.Card.Number</h4>
    <input type="checkbox" checked=@MinigameCard.Selected @bind-value="MinigameCard.Selected" />
    <h1>@MinigameCard.Selected</h1>
</div>


@code {
    [Parameter]
    public MinigameCardHolder MinigameCard { get; set; }
}
