@using CardGame.Data
@using Domain


<div>
    <h4 class="text-dark">@MinigameCard.Card.Suit @MinigameCard.Card.Number</h4>
    <input type="checkbox" checked=@MinigameCard.IsSelected @bind-value="MinigameCard.IsSelected" />
    <h1>@MinigameCard.IsSelected</h1>
</div>


@code {
    [Parameter]
    public MinigameCardHolder MinigameCard { get; set; }
}
