@using CardGame.Data
@using Domain
<h3 class="text-secondary">Deck</h3>

<div 
    style=
    "display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     grid-gap: 20px;">

    @foreach(var card in MinigameCards){
        <CardInDeck MinigameCard=@card></CardInDeck>
    }
    
</div>

@code {
    [Parameter]
    public List<MinigameCardHolder> MinigameCards { get; set; }
}
