@inherits LayoutComponentBase

<PageTitle>CardGame</PageTitle>

<div class="page">

    <main>
        <MenuBar></MenuBar>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
