

<nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="minigame">
            <span class="oi oi-puzzle-piece"></span> Start game
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="history/guest">
            <span class="oi oi-list"></span> History
        </NavLink>
    </div>
</nav>

@code {


}
