
<span>@Number @Suit</span>
<Timestamp Time=@Time></Timestamp>

@code {
    [Parameter]
    public string Suit { get; set; }
    [Parameter]
    public string Number { get; set; }
    [Parameter]
    public DateTime Time { get; set; }
}
